{% extends 'base.html' %}

{% block head %}
    <h1>学院简介</h1>
{% endblock %}

{% block body %}
<p id="text">西南交通大学希望学院建校于2009年，是经国家教育部批准、由首批进入“双一流”建设的百年名校西南交通大学和华西希望集团按照高标准、高起点的要求创办，以轨道交通特色立校的一所全日制工科类普通本科高等院校，是四川省首批应用型转型改革试点院校、首批三全育人改革试点院校。学校设有成都校区和南充校区，主体成都校区坐落于“千里沱江第一城、天府水城”金堂县。</p>
<p id="text">学校始终坚持社会主义办学方向，全面贯彻党的教育方针，弘扬“明德励志、务实创新、竢实扬华、自强不息”的精神，坚持“轨道交通”办学特色，坚持“立足四川、服务西部、面向全国、走向国际”的办学定位，强化“以人为本，以学生为中心，把每个学生培养成才”的办学宗旨，实施“质量立校、人才强校、特色兴校、创新驱动、协同发展”的办学方略，实干笃行，奋楫争先，努力培育以“宽基础、多口径、强能力、高素质”为特征的“现场工程师”应用型人才，致力建设“国内外知名、学科优势突出、行业特色鲜明、社会高度认可”的全国一流应用技术型大学。</p>    
{% endblock %}

{% block bottom %}
    <br>
    <a href="javascript:history.back(-1)">返回</a>
{% endblock %}